body {
    box-sizing: border-box;    
    padding: 3%;
    background-color: darkblue;
}

#logo {
    background-color: darkblue;
    justify-content: center;
}
td {
    font-weight: 600;
    background-color: darkblue;
    /* padding: 5%; */
}

tr {
    background-color: darkblue;
}

.container {
    background-color: darkblue;
    color: sandybrown;
    text-align: center;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
}

button, #moneyDisplay {
    background-color: darkblue;
    color: sandybrown;
    padding: 1%;
    font-family: 'Anton', sans-serif;
}

.whitefont, #practiceDiv {
    font-family: 'Aleo', serif;
    color: white;
    text-transform: uppercase;

}
/* #practiceDiv {
font-size: 40px;
} */

.answerQ {
    width: 40%;
    background-color: darkblue;
    color: sandybrown;
}