body {
    box-sizing: border-box;
    background-color: darkblue;
}

#logo {
    background-color: darkblue;
    margin-left: auto;
    margin-right: auto;
}

.container, .categories {
 
    background-color: darkblue;
    color: sandybrown;
    text-align: center;
    /* width: 100%; */
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    margin: 5px;
    display: flex;
}

.moneyButtons {
    background-color: darkblue;
    color: sandybrown;
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    /* display: flex; */
    /* margin: 20%; */
    margin-left: 20px;
    margin-right: 20px;
}



.answerBtn {
    /* width: 20%; */
    font-family: 'Anton', sans-serif;
    margin: 2%;
    background-color: darkblue;
    color: white;
    font-size: 50px;
}


.answerQ,
.is-large {
    font-family: 'Aleo', serif;
    font-size: 50px;
    text-transform: uppercase;
    margin: 4%;
    width: 100%;
    background-color: darkblue;
    color: white
}

table {
    margin: 10px;
display: inline;
}

td {
    margin-left: 5px;
    margin-right: 5px;
}